*{
    box-sizing: border-box;
}
$color1: #86CC8C;
$color2: #C7FFCB;

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: $color2;
}
h1{ font-size: 3em;}
h2{font-size: 2.3em;}
h3{font-size: 2em;}
p{font-size: 1.25;}
ul{list-style: none;}

.Header{
    background-color: $color1;
    margin: 0;
    
}
.logo{
    margin: 0;
    padding:25px 30px;
    font-weight: bold;
    color: $color1;
    text-decoration:none; 
}
@mixin size ($height, $width) {
    height: $height;
    width: $width;
}

nav{
    text-align: center;
    @include size(80px, 100%);
    background-color: #6c6c6c;
    display: flex;
    justify-content: space-between;

}
nav {
    div{
    width: 20%;
    height: 100%;
    }
}
nav{ 
    ul{
    list-style: none;
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: space-around;
    }
}
.Titulo{
    text-align: center;
    color: $color1;
}
.subtitulo{
    text-align: center;
    color: $color2;
}


.RestauranteVisubio{
    color: white;
    font-size: 20px;
    margin: 16px;
    padding-bottom: 20px;
}
ul{ 
    a{
    text-decoration: none;
    font-size: 1rem;
    color:$color1;
    display: flex;
    padding: 12px;
    }
}
ul{
    a:hover{
    text-decoration: none;
    font-size: 1rem;
    color: $color1;
    }
}





















@media screen and (max-width:319px){
.main{
    color: black;
    margin: 30px;
    padding: 0 auto;
    font-size: 0.5rem;
    font-weight: 300;
    line-height: 0.8;
}
.Titulo {
    text-align: center;
    color: $color1;
}
.interior{
    margin-right: auto;
    margin-left:auto ;
    padding: 5px;
    transform: scale(0.5);
}
.container{
    color: $color1;
    text-align: center;
}
.menú{
    font-size: 1.5rem;
    display: block;
    margin: 30px;
    text-align: center;
    color: $color1;
    border: 1px solid black;
}
.imgs{
    text-align: left;
    font-size: 1.5rem;
}

.item{
    margin: 10px;
    height: 280px;
    width: auto;
    transform: scale(0.5);
    transition: height 120px 2.7s;
}

$paleta:(
    col1: red,
    col2: orange,
    col3: purple
    );

@each $sizes, $color in $paleta{
    .colores-#{$color}{
        border: 3px solid $color;
    }
}

.item:hover{
    height: 300px;
}


.container1{
    color: $color1;
}
}












































































@media screen and (max-width:1269px){
.main{
    color: black;
    margin: 30px;
    padding: 0 auto;
    font-size: 0.8rem;
    font-weight: 350;
    line-height: 1;
}
.Titulo {
    text-align: center;
    color: $color1;
}
.interior{
    margin-right: auto;
    margin-left:auto ;
    padding: 5px;
    transform: scale(1);
}
.container{
    color: $color1;
    text-align: center;
}
.menú{
    display: block;
    margin: 30px;
    text-align: center;
    color: $color1;
    border: 1px solid black;
}
.imgs{
    margin-right:auto;
    margin-left: auto;
}

.item{
    margin: 10px;
    height: 280px;
    width: auto;
    transition: height 280px 2.7s;
}

$paleta:(
    col1: red,
    col2: orange,
    col3: purple
    );

@each $sizes, $color in $paleta{
    .colores-#{$color}{
        border: 3px solid $color;
    }
}

.item:hover{
    height: 300px;
}


.container1{
    color: $color1;
}
}


@media screen and (min-width:1270px){
.main{
    color: black;
    margin: 30px;
    padding: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.Titulo{
    text-align: center;
    color: $color1;
}
.interior{
    margin-right: auto;
    margin-left:auto ;
    padding: 5px;
    height: auto;
    width: auto;
}
.container{
    color: $color1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
}


.menú{
    margin: 30px;
    text-align: center;
    border: 1px solid black;
    color: $color1;
}
.imgs{
    margin-right:auto;
    margin-left: auto;
}

.item{
    margin: 10px;
    border: solid black 2px;
    height: 280px;
    width: auto;
    transition: height 280px 2.7s;
}
$paleta:(
    col1: red,
    col2: orange,
    col3: purple
    );

@each $sizes, $color in $paleta{
    .colores-#{$color}{
        border: 3px solid $color;
    }
}
.item:hover{
    height: 300px;
}

.container1{
    color: $color1;
}
}


.footer{
    background-color: #282828;
    margin: 0;
    padding-bottom:1%;
}
.fooNuestro{ 
    margin: 2px;
    padding: 2px;
}

.fooNuestoNuevo{
    @extend .fooNuestro;
    text-align: center;
    color: #cCCCCC;
}


.fooTitulo{
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #cCCCCC;
    margin: 0;
}
.fooHorario{
    color: #cCCCCC;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.active{
    color: white;
}
/*----------------------------Reserva-----------------------*/
.Header{
    background-color: $color1;
    margin: 0;

}
.logoReserva{ 
    padding:0 30px;
    font-weight: bold;
    color: $color1;
}
@media only screen and (max-width: 849px){
.formReserva{
    background-color:$color1;
    width: 300px;
    text-align:right;
    margin: auto;
    border-color: #6c6c6c;
    font-size: 1em;
}
input{
    outline: none;
    border-color:$color2;
    border-radius: 15px;
    border-style:double;
}    
}



@media only screen and (min-width: 850px){
.formReserva{
    background-color:$color1;
    width: 300px;
    text-align:right;
    margin: auto;
    border-color: #6c6c6c;
    font-size: 1em;
}
input{
    outline: none;
    border-color:$color2;
    border-radius: 15px;
    border-style:double;
}
}

.footerReserva{
    background-color: #282828;
    margin: 0;
    padding-bottom: 20%;
    text-align: center;
}
.textoReservaFoo{
    color: whitesmoke;
}
/*-------------menú-------------*/

.logoMenu{
    padding:0 30px;
    font-weight: bold;
    color: $color1;
}
.menu{
    text-align: center;
    color:#282828;
}
.categorias{
    padding: 10px;
    color: #6bc773;
}
#menuCategoria{
    transition: height 2s;
}


.transicion{
    padding: 8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: bold;
    border: 2px solid #282828;
}


#menuCategoria:hover{
    height: auto;
    color:$color1;
    background-color: #282828;

}



.precio{
    float: right;
}
.Delivery{
    color: #6bc773;
    text-align: center;
}
.pNumero{
    margin: 30px;
    color: $color1;
    text-align: center;
}



.fooMenu{
    color: white;
    background-color: #282828;
    margin: 0 auto;
    padding: 100px;
    text-align: center;
}

/*--------------Contactos------------*/
.logoContactos{
    padding:0 30px;
    font-weight: bold;
    color: $color1;
}
.formContactos{
    background-color:$color1;
    width: 500px;
    text-align:center;
    margin: auto;
    border-color: #6c6c6c;
    font-size: 1em;
}
.fooContactos{
    background-color: #282828;
    color: whitesmoke;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20%;
}
/*--------sobre-nosotros----*/
.sobreNos{
    color: #6bc773;
    text-align: center;
}
.text2{
    text-align: center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif
}
.video{
    color: $color1;
}
.fooSobreNos{
    background-color: #282828;
    color: whitesmoke;
    text-align: center;
    margin: 0 auto;
    padding-bottom:14%;
}