*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$color1: #86CC8C;
$color2: #C7FFCB;
.fondo{
    background-color: $color2;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: $color2;
}

$headings:(
    h1: 3em,
    h2: 2.3em,
    h3: 2em,
    p: 1.25,
    ul: none,
);

$h1: map-get($map: $headings, $key: h1);
h1{
    font-size: $h1;
}
$h2: map-get($map: $headings, $key: h2);
.h2{
    font-size: $h2;
}
$h3: map-get($map: $headings, $key: h3);
.h3{
    font-size: $h3;
}
$P: map-get($map: $headings, $key: P);
.P{
    font-size: $P;
}
$ul: map-get($map: $headings, $key: ul);
.ul{
    font-size: $ul;
}

.Header{
    background-color: $color1;
}

.logo{
    margin: 0;
    padding:25px 30px;
    font-weight: bold;
    color: $color1;
    text-decoration:none;
}
@mixin size ($height, $width) {
    height: $height;
    width: $width;
}

.titulo{
    text-shadow: 1px 1px 2px black;
    text-align: center;
    color: black;
    background-color: $color1;
}
.subtitulo{
    text-align: center;
    color: $color1;
}


.RestauranteVisubio{
    color: white;
    font-size: 20px;
    margin: 16px;
    padding-bottom: 20px;
    background-color: $color1;
}
@media screen and (max-width:520px){
.item{
    transform: scale(0.6);
}

}
@media screen and (max-width:320px){

.main{
    color: black;
    margin: 30px;
    padding: 0 auto;
    font-size: 0.5rem;
    font-weight: 300;
    line-height: 0.8;
}
.titulo {
    text-align: center;
    color: black;

}
.interior{
    margin-right: auto;
    margin-left:auto ;
    padding: 5px;
    transform: scale(0.5);
    border-radius: 60px;
}
.container3{
    color: $color1;
    text-align: center;
}
.link-info{
    list-style-type: none;
}
.menú{
    font-size: 1.5rem;
    display: block;
    margin: 30px;
    text-align: center;
    color: $color1;
    border: 1px solid black;
    border-radius: 15px;
}
.imgs{
    text-align: left;
    font-size: 1.5rem;
}

.item{
    height: auto;
    width: 200px;

    transition: height 20px  2.7s;
    border-radius: 15px;
}

$paleta:(
    col1: red,
    col2: orange,
    col3: purple
    );

@each $sizes, $color in $paleta{
    .colores-#{$color}{
        border: 3px groove $color;
    }
}

.item:hover{
    height: 300px;
}


.container1{
    color: $color1;
}
}




@media screen and (max-width:1269px){
.main{
    color: black;
    margin: 30px;
    padding: 0 auto;
    font-size: 0.8rem;
    font-weight: 350;
    line-height: 1;
}
.Titulo {
    text-align: center;
    color: $color1;
}
.interior{
    margin-right: auto;
    margin-left:auto ;
    padding: 5px;
    transform: scale(1);
    border-radius: 60px;
}
.container3{
    color: $color1;
    text-align: center;
}
.menú{
    display: block;
    margin: 30px;
    text-align: center;
    color: $color1;
    border: 1px solid black;
    border-radius: 15px;
}

.imgs{
    margin-right:auto;
    margin-left: auto;
}

.item{
    margin: 10px;
    height: auto;
    width: 250px;
    transition: height 20px 2.7s;
    border-radius: 15px;
}


$paleta:(
    col1: red,
    col2: orange,
    col3: purple
    );

@each $sizes, $color in $paleta{
    .colores-#{$color}{
        border: 3px solid $color;
    }
}

.item:hover{
    height: 300px;
}


.container1{
    color: $color1;
}
}


@media screen and (min-width:1270px){
.main{
    color: black;
    margin: 30px;
    padding: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.Titulo{
    text-align: center;
    color: $color1;
}
.interior{
    margin-right: auto;
    margin-left:auto ;
    padding: 5px;
    height: auto;
    width: auto;
    border-radius: 60px;
}
.container2{
    color: $color1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
}


.menú{
    margin: 30px;
    text-align: center;
    border: 1px solid black;
    color: $color1;
    border-radius: 15px;
}
.imgs{
    margin-right:auto;
    margin-left: auto;
}

.item{
    margin: 10px;
    border: solid black 2px;
    height: auto;
    width: 300px;
    transition: height 20px 2.7s;
    border-radius: 15px;
}
$paleta:(
    col1: red,
    col2: orange,
    col3: purple
    );

@each $sizes, $color in $paleta{
    .colores-#{$color}{
        border: 3px solid $color;
    }
}
.item:hover{
    height: 300px;
}

.container1{
    color: $color1;
}
}


.footer{
    background-color: #282828;
    margin: 0;
    padding-bottom:1%;
}
.fooNuestro{
    margin: 2px;
    padding: 2px;
}

.fooNuestoNuevo{
    @extend .fooNuestro;
    text-align: center;
    color: #cCCCCC;
}


.fooTitulo{
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #cCCCCC;
    margin: 0;
}
.fooHorario{
    color: #cCCCCC;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*----------------------------Reserva-----------------------*/
.Header{
    background-color: $color1;
    margin: 0;

}

.bodyReserva{
    padding: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 310px;
    height: auto;
    border: groove $color1 5px;
}

.box-reserva{
    background-color:#8ec5928a;
    border: black 2px solid;
    border-radius: 40px;
    padding: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 50px;
}

.map{
    margin-top: 100px;
    margin-bottom: 100px;
}




/*-------------menú-------------*/
.justify-content-end{
    justify-content: flex-end;
}
.conntenedor{
    background-color: $color1;
    border-radius: 15px;
}
.subtitulo{
    color:$color2;
    padding-bottom: 10px;
    margin-top: 6px;
}
.logoMenu{
    padding:0 30px;
    font-weight: bold;
    color: $color2;

}
.menu{
    text-align: center;
    color: $color1;
    text-shadow: 1px 1px 3px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
}
.categorias{
    text-shadow: 1px 1px 4px  black;
    padding: 10px;
    color: #6bc773;
}
#menuCategoria{
    transition: height 2s;
}
.transicion{
    padding: 8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: bold;
    border: solid black 2px;
    border-radius: 15px;
    margin-bottom:15px;
}

.lista{
    list-style-type:none;
    margin-left: 50px;
    margin-right:40px; 
}
#menuCategoria:hover{
    height: auto;
    color:$color1;
    background-color: #282828;
}
.texto1{
    display: inline-block;
    margin-left: 40px;
    font-size: 12px;
    color: gray;
}


.precio{
    float: right;
}
.Delivery{
    margin: 15px;
    color: #6bc773;
    display: block;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}
.pNumero{
    margin: 20px;
    color: $color1;
    display: block;
    text-align: center;
}



.fooMenu{
    color: white;
    background-color: #282828;
    margin: 0 auto;
    padding: 100px;
    text-align: center;
}

/*--------------Contactos------------*/
.box-contactos{
    border: groove $color1 5px;
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: $color1;
}
.contrataciones{
    margin-bottom: 2px;
    display: inline-block;
    border-bottom: 2px #4abb54 solid;
    border-radius: 20px;
}
.box{
    background-color:#8ec5928a;
    border: black 2px solid;
    border-radius: 40px;
    padding: 25px;
}
.border-text{
    padding: 2px;
    border-bottom:#4abb54 solid 2px;
    border-radius: 50px ;
}
.terminos{
    font-weight: bold;
}

.cita2{
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 8px;
}

.contrataciones{
    text-align: center;
    margin: auto;
    padding: 5px;
}


.terminos{
    display: block;
}


/*--------sobre-nosotros----*/
@media only screen and (max-width: 320px){

.video{
    width: 340px;
    height: 200px;
    margin: auto;
    padding: auto;
    border-radius: 15px;
}

}
@media  screen and (min-width: 880px){
.text-box{
    padding: auto;
    margin:auto;
    border: $color1 5px groove;
}
.text1{
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}    
.text2{
    color: black
}
.video{
    margin: 30px;
    border-radius: 15px;
}
}

@media screen and (max-width: 880px){
.video{
    transform: scale(0.7);
    border-radius: 15px;
}
.text-box{
    padding: auto;
    margin: auto;
    border: $color1 5px groove;
}
.text1{
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}    
.text2{
    color: black
}
.video{
    width: 100%;
}
}
