*{
    box-sizing: border-box;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    background-color: #C7FFCB;
}
h1{ font-size: 3em;}
h2{font-size: 2.3em;}
h3{font-size: 2em;}
p{font-size: 1.25;}
ul{list-style: none;}

.Header{
    background-color: #86CC8C;
    margin: 0;
    
}
.logo{
    margin: 0;
    padding:25px 30px;
    font-weight: bold;
    color: #86CC8C;
    text-decoration:none; 
}
nav{
    text-align: center;
    width: 100%;
    height: 80px;
    background-color: #6c6c6c;
    display: flex;
    justify-content: space-between;

}
nav div{
    width: 20%;
    height: 100%;
}
nav ul{
    list-style: none;
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: space-around;
}
.Titulo{
    text-align: center;
}
.subtitulo{
    text-align: center;
    color: #C7FFCB;
}


.RestauranteVisubio{
    color: white;
    font-size: 20px;
    margin: 16px;
    padding-bottom: 20px;
}
ul li a{
    text-decoration: none;
    font-size: 1rem;
    color:#86CC8C;
    display: flex;
    padding: 12px;
}
ul li a:hover {
    text-decoration: none;
    font-size: 1rem;
    color: #86CC8C;
}

@media screen and (max-width:1269px){
.main{
    color: black;
    margin: 0;
    padding: 0 auto;
    font-size: 0.8rem;
    font-weight: 350;
    line-height: 1;
}

.container{
    color: #86CC8C;
    text-align: center;
}

.menú{
    color:#86CC8C;
    text-align: center;
    border: 1px solid black;
}


.item{
    margin: 10px;
    border: solid black 2px;
    height: 280px;
    width: auto;
    transition: height 280px 2.7s;
}
.item:hover{
    height: 300px;
}


.container1{
    color: #86CC8C;
}
}

@media screen and (min-width:1270px){
.main{
    color: black;
    margin: 0;
    padding: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.container{
    color: #86CC8C;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
}

.menú{
    color:#86CC8C;
    text-align: center;
    border: solid black 1px;
}


.item{
    margin: 10px;
    border: solid black 2px;
}

.container1{
    color: #86CC8C;
}
}


.footer{
    background-color: #282828;
    margin: 0;
    padding-bottom:1%;
}
.fooNuestro{ 
    margin: 2px;
    padding: 2px;
    text-align: center;
    color: #cCCCCC;
}
.fooTitulo{
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #cCCCCC;
    margin: 0;
}
.fooHorario{
    color: #cCCCCC;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.active{
    color: white;
}
/*----------------------------Reserva-----------------------*/
.Header{
    background-color: #86CC8C;
    margin: 0;

}
.logoReserva{ 
    padding:0 30px;
    font-weight: bold;
    color: #86CC8C;
}
@media only screen and (max-width: 849px){
.formReserva{
    background-color:#86CC8C;
    width: 300px;
    text-align:right;
    margin: auto;
    border-color: #6c6c6c;
    font-size: 1em;
}
input{
    outline: none;
    border-color:#C7FFCB;
    border-radius: 15px;
    border-style:double;
}    
}



@media only screen and (min-width: 850px){
.formReserva{
    background-color:#86CC8C;
    width: 300px;
    text-align:right;
    margin: auto;
    border-color: #6c6c6c;
    font-size: 1em;
}
input{
    outline: none;
    border-color:#C7FFCB;
    border-radius: 15px;
    border-style:double;
}
}

.footerReserva{
    background-color: #282828;
    margin: 0;
    padding-bottom: 20%;
    text-align: center;
}
.textoReservaFoo{
    color: whitesmoke;
}
/*-------------menú-------------*/

.logoMenu{
    padding:0 30px;
    font-weight: bold;
    color: #86CC8C;
}
.Delivery{
    color: #6bc773;
}

.pNumero{
    margin: 30px;
    color: #86CC8C;
}
.bodyMenu{
    text-align: center;
}
.nota{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.fooMenu{
    color: white;
    background-color: #282828;
    margin: 0 auto;
    padding: 100px;
    text-align: center;
}

/*--------------Contactos------------*/
.logoContactos{
    padding:0 30px;
    font-weight: bold;
    color: #86CC8C;
}
.formContactos{
    background-color:#86CC8C;
    width: 500px;
    text-align:center;
    margin: auto;
    border-color: #6c6c6c;
    font-size: 1em;
}
.fooContactos{
    background-color: #282828;
    color: whitesmoke;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20%;
}
/*--------sobre-nosotros----*/
.sobreNos{
    color: #6bc773;
    text-align: center;
}
.text2{
    text-align: center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif
}
.video{
    color: #86CC8C;
}
.fooSobreNos{
    background-color: #282828;
    color: whitesmoke;
    text-align: center;
    margin: 0 auto;
    padding-bottom:14%;
}

