@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fondo {
  background-color: #C7FFCB;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: #C7FFCB;
}

h1 {
  font-size: 3em;
}

.h2 {
  font-size: 2.3em;
}

.h3 {
  font-size: 2em;
}

.ul {
  font-size: none;
}

.Header {
  background-color: #86CC8C;
}

.logo {
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color: #86CC8C;
  text-decoration: none;
}

.titulo {
  text-align: center;
  color: black;
  background-color: #86CC8C;
}

.subtitulo {
  text-align: center;
  color: #86CC8C;
}

.RestauranteVisubio {
  color: white;
  font-size: 20px;
  margin: 16px;
  padding-bottom: 20px;
  background-color: #86CC8C;
}

@media screen and (max-width: 520px) {
  .item {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@media screen and (max-width: 320px) {
  .main {
    color: black;
    margin: 30px;
    padding: 0 auto;
    font-size: 0.5rem;
    font-weight: 300;
    line-height: 0.8;
  }
  .titulo {
    text-align: center;
    color: black;
  }
  .interior {
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    border-radius: 15px;
  }
  .container {
    color: #86CC8C;
    text-align: center;
  }
  .menú {
    font-size: 1.5rem;
    display: block;
    margin: 30px;
    text-align: center;
    color: #86CC8C;
    border: 1px solid black;
    border-radius: 15px;
  }
  .imgs {
    text-align: left;
    font-size: 1.5rem;
  }
  .item {
    height: auto;
    width: 200px;
    -webkit-transition: height 20px  2.7s;
    transition: height 20px  2.7s;
    border-radius: 15px;
  }
  .colores-red {
    border: 3px groove red;
  }
  .colores-orange {
    border: 3px groove orange;
  }
  .colores-purple {
    border: 3px groove purple;
  }
  .item:hover {
    height: 300px;
  }
  .container1 {
    color: #86CC8C;
  }
}

@media screen and (max-width: 1269px) {
  .main {
    color: black;
    margin: 30px;
    padding: 0 auto;
    font-size: 0.8rem;
    font-weight: 350;
    line-height: 1;
  }
  .Titulo {
    text-align: center;
    color: #86CC8C;
  }
  .interior {
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    -webkit-transform: scale(1);
            transform: scale(1);
    border-radius: 15px;
  }
  .container {
    color: #86CC8C;
    text-align: center;
  }
  .menú {
    display: block;
    margin: 30px;
    text-align: center;
    color: #86CC8C;
    border: 1px solid black;
    border-radius: 15px;
  }
  .imgs {
    margin-right: auto;
    margin-left: auto;
  }
  .item {
    margin: 10px;
    height: auto;
    width: 250px;
    -webkit-transition: height 20px 2.7s;
    transition: height 20px 2.7s;
    border-radius: 15px;
  }
  .colores-red {
    border: 3px solid red;
  }
  .colores-orange {
    border: 3px solid orange;
  }
  .colores-purple {
    border: 3px solid purple;
  }
  .item:hover {
    height: 300px;
  }
  .container1 {
    color: #86CC8C;
  }
}

@media screen and (min-width: 1270px) {
  .main {
    color: black;
    margin: 30px;
    padding: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  .Titulo {
    text-align: center;
    color: #86CC8C;
  }
  .interior {
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    height: auto;
    width: auto;
    border-radius: 15px;
  }
  .container {
    color: #86CC8C;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    text-align: center;
  }
  .menú {
    margin: 30px;
    text-align: center;
    border: 1px solid black;
    color: #86CC8C;
    border-radius: 15px;
  }
  .imgs {
    margin-right: auto;
    margin-left: auto;
  }
  .item {
    margin: 10px;
    border: solid black 2px;
    height: auto;
    width: 300px;
    -webkit-transition: height 20px 2.7s;
    transition: height 20px 2.7s;
    border-radius: 15px;
  }
  .colores-red {
    border: 3px solid red;
  }
  .colores-orange {
    border: 3px solid orange;
  }
  .colores-purple {
    border: 3px solid purple;
  }
  .item:hover {
    height: 300px;
  }
  .container1 {
    color: #86CC8C;
  }
}

.footer {
  background-color: #282828;
  margin: 0;
  padding-bottom: 1%;
}

.fooNuestro, .fooNuestoNuevo {
  margin: 2px;
  padding: 2px;
}

.fooNuestoNuevo {
  text-align: center;
  color: #cCCCCC;
}

.fooTitulo {
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #cCCCCC;
  margin: 0;
}

.fooHorario {
  color: #cCCCCC;
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*----------------------------Reserva-----------------------*/
.Header {
  background-color: #86CC8C;
  margin: 0;
}

.bodyReserva {
  padding: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 310px;
  height: auto;
  border: groove #86CC8C 5px;
}

.formReserva {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: auto;
}

.reserva {
  text-align: center;
  margin: auto;
  padding: auto;
}

.box-reserva {
  text-align: left;
  width: 100%;
  height: auto;
}

.controles-reserva {
  padding: 6px;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 5px;
}

.nombres-reservas {
  display: block;
  text-align: center;
  font-weight: bold;
}

.botones-reserva {
  text-align: center;
  margin-top: 10px;
  margin-left: 60px;
}

.logoReserva {
  padding: 0 30px;
  font-weight: bold;
  color: #86CC8C;
}

@media only screen and (max-width: 849px) {
  .formReserva {
    background-color: #86CC8C;
    width: 300px;
    text-align: right;
    margin: auto;
    border-color: #6c6c6c;
    font-size: 1em;
  }
  input {
    outline: none;
    border-color: #C7FFCB;
    border-radius: 15px;
    border-style: double;
  }
}

@media only screen and (min-width: 850px) {
  .formReserva {
    background-color: #86CC8C;
    width: 300px;
    text-align: right;
    margin: auto;
    border-color: #6c6c6c;
    font-size: 1em;
  }
  input {
    outline: none;
    border-color: #C7FFCB;
    border-radius: 15px;
    border-style: double;
  }
}

.footerReserva {
  background-color: #282828;
  margin: 0;
  padding-bottom: 20%;
  text-align: center;
}

.textoReservaFoo {
  color: whitesmoke;
}

/*-------------menú-------------*/
.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.conntenedor {
  background-color: #86CC8C;
  border-radius: 15px;
}

.subtitulo {
  color: #C7FFCB;
  padding-bottom: 10px;
  margin-top: 6px;
}

.logoMenu {
  padding: 0 30px;
  font-weight: bold;
  color: #C7FFCB;
}

.menu {
  text-align: center;
  color: #282828;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 40px;
}

.categorias {
  padding: 10px;
  color: #6bc773;
}

#menuCategoria {
  -webkit-transition: height 2s;
  transition: height 2s;
}

.transicion {
  padding: 8px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  border: solid black 2px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.lista {
  list-style-type: none;
}

#menuCategoria:hover {
  height: auto;
  color: #86CC8C;
  background-color: #282828;
}

.texto1 {
  display: inline-block;
  margin-left: 40px;
  font-size: 12px;
  color: gray;
}

.precio {
  float: right;
}

.Delivery {
  margin: 15px;
  color: #6bc773;
  display: block;
  text-align: center;
}

.pNumero {
  margin: 20px;
  color: #86CC8C;
  display: block;
  text-align: center;
}

.fooMenu {
  color: white;
  background-color: #282828;
  margin: 0 auto;
  padding: 100px;
  text-align: center;
}

/*--------------Contactos------------*/
.box-contactos {
  border: groove #86CC8C 5px;
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #86CC8C;
}

.contrataciones {
  text-align: center;
  margin: auto;
  padding: 5px;
}

.formContactos {
  text-align: center;
  padding: auto;
  margin: auto;
  display: block;
}

.controles-contacto {
  margin: auto;
  padding: 5px;
  display: block;
}

.nombres-contactos {
  margin: auto;
  padding: auto;
  text-align: center;
  display: block;
  font-weight: bold;
}

.terminos {
  display: block;
}

.fooContactos {
  background-color: #282828;
  color: whitesmoke;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20%;
}

/*--------sobre-nosotros----*/
@media only screen and (max-width: 320px) {
  .video {
    width: 340px;
    height: 200px;
    margin: auto;
    padding: auto;
    border-radius: 15px;
  }
}

@media screen and (min-width: 880px) {
  .text-box {
    padding: auto;
    margin: auto;
    border: #86CC8C 5px groove;
  }
  .text1 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .text2 {
    color: black;
  }
  .video {
    margin: 30px;
    border-radius: 15px;
  }
}

@media screen and (max-width: 880px) {
  .video {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    border-radius: 15px;
  }
  .text-box {
    padding: auto;
    margin: auto;
    border: #86CC8C 5px groove;
  }
  .text1 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .text2 {
    color: black;
  }
  .video {
    width: 100%;
  }
}

.fooSobreNos {
  background-color: #282828;
  color: whitesmoke;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 14%;
}
/*# sourceMappingURL=estilo.css.map */